<div class="container">
  <h3>Create an Allergy Free Menu for <%= @profile %></h3>
  <%= simple_form_for [@week_menu] do |f| %>
    <%= f.input :date, as: :date, label: "Select date", input_html: {data: {controller: "slim-select"}, name: "week_menu[date]"} %>
    <%= f.input :day_menus, label: "Select cuisine", collection: DayMenu.cuisine, input_html: {multiple: true, data: {controller: "slim-select"}, name: "week_menu[cuisine]"} %>
    <%= f.input :profile, label: "Select diet", collection: Ingredient.diets, input_html: {data: {controller: "slim-select"}, name: "week_menu[diet]"} %>
    <%= f.input :profile, label: "Select intolerances", collection: Ingredient.intolerances, input_html: {multiple: true, data: {controller: "slim-select"}, name: "week_menu[intolerances]"} %>
    <%= f.input :profile, label: "Select ingredients to be excluded from the menu", collection: Ingredient.pluck(:name), input_html: {multiple: true, data: {controller: "slim-select"}, name: "week_menu[ingredients]"} %>
    <%= f.button :submit, class: "btn btn-primary", value: "Create Menu" %>
  <% end %>
</div>
