<div class="container">
  <h3>Create an Allergy Free Menu for <%= @profile.school %></h3>
  <%= simple_form_for [@week_menu] do |f| %>
    <%= f.input :date, as: :date, label: "Start date", input_html: {data: {controller: "slim-select"}, name: "week_menu[date]"} %>
    <%= f.input :date, as: :date, label: "End date", input_html: {data: {controller: "slim-select"}, name: "week_menu[date]"} %>


    <%= f.input :day_menus, label: "Select cuisine", collection: DayMenu.cuisine, input_html: {multiple: true, data: {controller: "slim-select"}, name: "week_menu[cuisine]"} %>
    <%= f.input :date, as: :date, label: "Select allergy profile", input_html: {data: {controller: "slim-select"}, name: "week_menu[profile]"} %>

    <%= f.button :submit, class: "btn btn-primary", value: "Create Menu" %>
  <% end %>
</div>
