<div data-controller="day-focus" class="container page" style="height: 200vh">
  <div class="banner">
    <%= cl_image_tag @school.photo.key, class: "avatar-xlarge" %>
    <br><br>
    <h1><%= @ingredients.join(', ') %> free </h1>
    <h2><%= @week_menu.date.strftime("%d %B %Y") %> to <%= (@week_menu.date+18.days).strftime("%d %B %Y") %></h2>
  </div>

  <div class = "row mb-5">
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Monday" data-action="click->day-focus#scroll">M</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Tuesday" data-action="click->day-focus#scroll">T</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Wednesday" data-action="click->day-focus#scroll">W</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Thursday" data-action="click->day-focus#scroll">T</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Friday" data-action="click->day-focus#scroll">F</button>
    </div>
  </div>

  <% @day_menus_grouped_by_day.each do |day, day_menus| %>
    <div class="mb-5" id="<%= day %>">
      <h3><%= day %></h3>
      <div class="cards">
      
        <% day_menus.each do |day_menu| %>
            <% day_menu.dishes.each do |dish|  %>
              <div class="card-trip">
                <%= cl_image_tag dish.image.key, crop: :fill %>
                <div class="card-trip-infos">
                  <h4 class="card-title"><%= dish.name %></h4>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
