<div data-controller="day-focus" class="container page" style="height: 200vh">
  <div class="banner">
    <div class="d-flex flex-wrap justify-content-between">
      <div>
        <h1><%= @school.name %></h1>
        <br>
        <h2><%= @intolerances.join(', ') %>, <%= @allergies.join(', ') %> free | <%= @diet %> </h2>
        <h3><%= @week_menu.date.strftime("%d %B %Y") %> to <%= (@week_menu.date+18.days).strftime("%d %B %Y") %></h3>
      </div>
      <div>
        <% case @week_menu.status %>
        <% when true %>
          <button type="button" class="btn btn-primary"><%= @week_menu.return_status %></button>
        <% else %>
          <button type="button" class="btn btn-outline primary" disabled><%= @week_menu.return_status %></button>
        <% end %>
          <%= link_to "Edit menu", edit_school_week_menu_path(@school, @week_menu), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class = "row mb-5">
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Monday" data-action="click->day-focus#scroll">M</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Tuesday" data-action="click->day-focus#scroll">T</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Wednesday" data-action="click->day-focus#scroll">W</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Thursday" data-action="click->day-focus#scroll">T</button>
    </div>
    <div class="col col-lg-1">
      <button type="button" class="btn-circle" data-day="Friday" data-action="click->day-focus#scroll">F</button>
    </div>
  </div>

  <% @day_menus_grouped_by_day.each do |day, day_menus| %>
    <div class="mb-5" id="<%= day %>">
      <h3><%= day %></h3>
      <div class="cards">
        <% day_menus.each do |day_menu| %>
            <% day_menu.dishes.each do |dish|  %>
              <div class="card-trip">
                <%= cl_image_tag dish.image.key, crop: :fill %>
                <div class="card-trip-infos">
                  <h4 class="card-title"><%= dish.name %></h4>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>


  <div class="row justify-content-between">
    <div class="col-4">
      <% unless @week_menu.prev.nil? %>
        <%= link_to "Prev Menu", @week_menu.prev, class:"btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-4 justify-content-end">
      <% unless @week_menu.next.nil? %>
        <%= link_to "Next Menu", @week_menu.next, class:"float-end btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
