  <div class="container text-left">
    <h1>Find your schools</h1>
      <br><br>

    <%= form_with(url: search_schools_path, method: :get, class: "d-flex") do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a school"
      %>
      <%= submit_tag "Search", class: "btn btn-primary"%>
    <% end %>
    <br><br>


      <div class="cards">
        <% @schools.each do |school| %>
          <div class="card">
            <div class="card-body" background-color="linen">
              <h3 class="card-title"><%= school.name %></h3>
              <h5><%= school.postcode %></h5>
              <% unless school.user.nil? %>
                <p>Dietician: <%= school.user.first_name %> <%= school.user.last_name %></p>
              <% end %>
              <br>
              <%= link_to "View school", school_path(school), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
