<div class="container text-left">
  <div class="banner">
    <%= cl_image_tag @school.photo.key, class: "avatar-xlarge" %>
    <br><br>
    <h1><%= @school.name %></h1>
  </div>

  <div>
    <% @intervals.each do |week_menus| %>
      <br>
      <h4><%= week_menus.flatten[0] %> to <%= week_menus.flatten[0]+18.days %></h4>
      <br>
      <div class = "cards">
        <% week_menus[1].each do |week_menu| %>
          <div class = "card">
            <div class ="card-body">
              <% week_menu.profile.allergy_profiles.each do |allergy_profile| %>
              <h5> <%= allergy_profile.ingredient.name.capitalize %>
              <% end %> free </h5>
              <%= link_to "View menu", week_menu_path %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# .menus.group_by { |menu| menu.menu_date.strftime("%A") } %>
