<div class="container text-left">
  <div class="banner">
    <%# <% unless @school.photo.nil?%>
      <%# <%= cl_image_tag @school.photo.key, class: "avatar-xlarge" %>
    <%# <% end %>
    <br><br>

    <div class="d-flex flex-wrap justify-content-between">
      <div>
        <h2><%= @school.name %></h2>
        <h3><%= @school.postcode %></h3>
        <br>
        <h4><%= @dietician %></h4>
      </div>
      <div>
      <% if @school.user == current_user %>
        <%= button_to "Remove from my profile", assign_school_school_path(@school), method: :patch, class: "btn btn-primary"  %>
      <% elsif @school.user.nil? %>
        <%= button_to "Add to profile", assign_school_school_path(@school), method: :patch, class: "btn btn-primary" %>
      <% else %>
      <% end %>
      </div>
    </div>

    <br><br>
    <div class = "cards">
      <%= link_to school_profiles_path(@school) do %>
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <h1 class="card-text"><%= @active_profiles.count %> </h1><h5>profiles</h5>
            <br>
            <h5 class="card-title">Manage</h5>
          </div>
        </div>
      <% end %>
      <%= link_to school_week_menus_path(@school) do %>
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <h1 class="card-text"><%= @week_menus.count %> </h1><h5>menus</h5>
            <br>
            <h5 class="card-title">Manage</h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <% unless @current_menus.empty? %>
      <h3>Current menus (<%= @current_menus.first.date.strftime("%d %B %Y") %> to <%= (@current_menus.first.date+18.days).strftime("%d %B %Y") %>)</h3>
      <br><br>
        <div class = "cards">
          <% @current_menus.each do |week_menu| %>
            <% @menu_profile = week_menu.profile  %>
            <% @profile_diet = @menu_profile.diet %>
            <% if @profile_diet.nil? %>
              <% @profile_diet = "" %>
            <% else %>
              <% @profile_diet = @profile_diet.name %>
            <% end %>

            <% @menu_intolerances = []
            IntoleranceProfile.where(profile: @menu_profile).each do |intolerance_profile|
              @menu_intolerances << intolerance_profile.intolerance.name
            end
            @menu_allergies = []
            AllergyProfile.where(profile: @menu_profile).each do |allergy_profile|
              @menu_allergies << allergy_profile.ingredient.name
            end %>
            <div class = "card">
              <div class ="card-body">
                <p> <%= @menu_intolerances.join(', ') %> - <%= @menu_allergies.join(', ') %> free | <%= @profile_diet %></p>
                <br><br>
                <%= link_to "View menu", week_menu_path(week_menu), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>

  <% if false %>
    <div>
      <div class="row justify-content-between">
        <div class="col-4">
          <h3> Profiles </h3>
        </div>
        <div class="col-4 text-end">
          <%= link_to "Create new allergy profile", new_school_profile_path(@school), class:"btn btn-primary" %>
        </div>
      </div>
      <br>
    </div>
    <div class = "cards">
      <% @active_profiles.each do |profile| %>
        <% if profile.diet.nil? %>
          <% @profile_diet = "" %>
        <% else %>
          <% @profile_diet = profile.diet.name %>
        <% end %>
        <% @profile_intolerances = []
        IntoleranceProfile.where(profile: profile).each do |intolerance_profile|
          @profile_intolerances << intolerance_profile.intolerance.name
        end
        @profile_allergies = []
        AllergyProfile.where(profile: profile).each do |allergy_profile|
          @profile_allergies << allergy_profile.ingredient.name
        end %>
        <div class = "card">
          <div class ="card-body">
            <p> <%= @profile_intolerances.join(', ') %>, <%= @profile_allergies.join(', ') %> free | <%= @profile_diet %></p>
            <%# <% raise %>
          </div>
        </div>
      <% end %>
    </div>
    <br><br>
  <% end %>
