<div class="container text-left">
  <div class="banner">
    <%= cl_image_tag @school.photo.key, class: "avatar-xlarge" %>
    <br><br>
    <h1><%= @school.name %></h1>
    <h3><%= @school.postcode %></h3>
  </div>

  <div>
    <% @week_menus_by_date.each do |week_menus| %>
      <br>
      <h4><%= week_menus[0].strftime("%d %B %Y") %> to <%= (week_menus[0]+18.days).strftime("%d %B %Y") %></h4>
      <br>
      <div class = "cards">
        <% week_menus[1].each do |week_menu| %>
          <div class = "card">
            <div class ="card-body">
              <% ingredients = [] %>
              <% week_menu.profile.allergy_profiles.each do |allergy_profile| %>
                <% ingredients << allergy_profile.ingredient.name.capitalize %>
              <% end %>
              <h5><%= ingredients.join(', ') %> free </h5>
              <br><br>
              <%= link_to "View menu", week_menu_path(week_menu), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# .menus.group_by { |menu| menu.menu_date.strftime("%A") } %>
