<div class="container">
  <h2>Substitute <%= @dish.name %></h2>

  <div class="cards">
    <div class="card-trip">
      <%= cl_image_tag @dish.image.key, crop: :fill %>
      <div class="card-trip-infos">
        <h4 class="card-title"><%= @dish.name %></h4>
        <p> <%= @dish.course %> </p>
      </div>
    </div>
  </div>
  <br><br>

  <%= form_with(url: edit_day_menu_menu_dish_path, method: :get, class: "d-flex") do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for a dish" %>
    <%= hidden_field_tag :diet, @diet %>
    <%= hidden_field_tag :intolerances, @intolerances %>
    <%= hidden_field_tag :ingredients, @allergies %>
    <%= submit_tag "Search", class: "btn btn-primary"%>
  <% end %>

  <br><br>
  <div class="cards">
    <% @results_dishes.each do |dish| %>
      <div class="card-trip">
        <%= image_tag (dish["image"]) %>
        <div class="card-trip-infos">
          <%= dish["title"] %>
          <%= dish["id"] %>
          <%= simple_form_for [@menu_dish] do |f| %>
            <%= f.hidden_field :dish, value: dish["id"], name: "key" %>
            <%= f.hidden_field :dish, value: dish["title"], name: "title" %>
            <%= f.hidden_field :dish, value: dish["image"], name: "image" %>
            <%= f.button :submit, class: "btn btn-outline", value: "Select dish" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
