<div class="container">
  <h2>Substitute <%= @dish.name %></h2>

  <div class="cards">
    <div class="card-trip">
      <%= cl_image_tag @dish.image.key, crop: :fill %>
      <div class="card-trip-infos">
        <h4 class="card-title"><%= @dish.name %></h4>
      </div>
    </div>
  </div>
  <br><br>
  <%= form_with(url: search_schools_path, method: :get, class: "d-flex") do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for a dish"
    %>
    <%= submit_tag "Search", class: "btn btn-primary"%>
  <% end %>
    <br><br>

</div>
